@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background: white;
  scroll-padding-top: var(--scroll-padding, 80px);
  -webkit-text-size-adjust: 100%;
}

body {
  background: rgb(249, 251, 249);
  overflow-x: hidden;
}

.menu {
  height: -webkit-fill-available;
  height: calc(100dvh-16px);
}

button {
  @apply whitespace-nowrap;
}
